<template>
  <f7-page>
    <f7-navbar title="カープライス"></f7-navbar>
    <iframe class="main-iframe" src="https://dealer-staging.carprice.co.jp/"></iframe>
  </f7-page>
</template>
<script>
export default {
  name: 'Home'
};
</script>
<style>
  .main-iframe {
    width: 100%;
    height: 100%;
    border: none;
  }
  .md .navbar .title {
    text-align: center;
    width: 100%;
  }
  .md .navbar {
    background: #139e5d;
  }
  .ios .navbar {
    background: #139e5d;
  }
  .ios .navbar .title {
    color: #ffffff;
  }
</style>
